.tabs {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px !important;
}
.active:hover,
.inactive:hover {
  cursor: pointer;
}

.active,
.inactive:hover {
  background-color: #222 !important;
  color: white !important;
  border-color: #222 !important;
  margin: 0px 1px;
}

.inactive {
  background-color: rgba(34, 34, 34, 0.76) !important;
  color: white !important;
  border-color: rgba(34, 34, 34, 0.76) !important;
  margin: 0px 1px;
  transition: all ease-in-out 0.3s;
}

/* //  background-color: #66c7c5 !important;
transition: all ease-out 0.5s !important;
}

.addBtn:hover {
background-color: rgb(255, 0, 70) !important; */
