.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 0px 8px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.219);
}

.logo {
  height: 32px;
}

.navLink {
  height: 28%;
  color: rgb(255, 0, 70);
  font-size: 19px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  text-decoration: none;
}

.navLink:hover {
  color: #222;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .logo {
    max-height: 25px;
  }

  .navLink {
    height: 20%;
    font-size: 17px;
  }

  .nav {
    padding: 0px 5px;
  }
}

@media only screen and (max-width: 412px) {
  .logo {
    max-height: 25px;
  }

  .navLink {
    height: 20%;
    font-size: 16px;
    padding: 10px;
  }

  .nav {
    padding: 0px 5px;
  }
}
