.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 70px;
  background-color: #66c7c569;
  background-image: url("../../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg");
  background-repeat: repeat;
  background-blend-mode: lighten;
  background-size: cover;
  min-height: 100vh;
}

.addBtn {
  font-family: "Karla", sans-serif;
  width: 60%;
  margin: 20px 15px;
  font-size: 16px !important;
  padding: 10px 5px !important;
  border-radius: 20px !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.582) !important;
  border-color: #66c7c5 !important;
  color: white !important;
  background-color: #66c7c5 !important;
  transition: all ease-out 0.4s !important;
}

.addBtn:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.582) !important;
  /* background-color: rgb(255, 0, 70) !important;
  border-color: rgb(255, 0, 70) !important; */
  color: white !important;
}

.btnCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

@media only screen and (max-width: 767px) {
  .addBtn {
    width: 30%;
    margin: 10px 2px !important;
    font-size: 13px !important;
    border-radius: 10px !important;
  }
  .btnCol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 25px 0px;
  }
}
