.title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #222;
}

.btn-primary {
  font-family: "Karla", sans-serif !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.582) !important;
}

.btn-primary:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.582) !important;
}

.input {
  font-family: "Karla", sans-serif !important;
  color: #222;
  border-color: rgb(255, 0, 70) !important;
  border-radius: 20px !important;
  background: transparent !important;
  transition: background-color ease-in-out 0.5s !important;
}

.input:focus {
  outline: none !important;
  box-shadow: none !important;
  color: white !important;
  background-color: rgb(255, 0, 70) !important;
  border-color: rgb(255, 0, 70) !important;
}

@media only screen and (max-width: 415px) {
  .modal-body {
    padding-top: 0.5rem !important;
    padding-bottom: 0 !important;
  }

  .modal-header {
    padding: 0.5rem 1rem !important;
  }
}
