.message {
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 20px;
  font-size: 30px;
}

.form {
  margin: 0 20px;
  padding: 0px 5px !important;
}

.formRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex: 1;
}

.formCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBtn {
  font-family: "Karla", sans-serif;
  width: 100%;
  margin: 20px 0px;
  padding: 10px 5px !important;
  border-radius: 20px !important;
  border-color: #66c7c5 !important;
  color: #222 !important;

  background-color: #66c7c5 !important;
}

.loginBtn:hover {
  background: transparent !important;
  color: #66c7c5 !important;
}

.input,
.input:-webkit-autofill {
  font-family: "Karla", sans-serif;
  width: 100%;
  margin: 10px 0px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  -webkit-text-fill-color: white !important;

  background: transparent;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
}

.input:focus,
.input:-webkit-autofill:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 0, 70) inset;
  background-color: rgb(255, 0, 70) !important;
  border-color: rgb(255, 0, 70) !important
  ;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: white !important;
    background: transparent !important;
  }
}

.input:-webkit-autofill,
.input.input:-webkit-autofill:visited {
  -webkit-animation-delay: 1s !important; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill !important;
  -webkit-animation-fill-mode: both !important;
}

.errorMsg {
  color: rgb(255, 0, 70);
  font-family: "Karla", sans-serif;
  padding: 0px 15px;
  text-align: center;
  font-size: 14px;
}

@media only screen and (max-height: 450px) {
  .input {
    padding: 5px 20px;
    margin: 5px 0px;
  }

  .loginBtn {
    margin: 10px 0px;
    padding: 5px 5px !important;
  }
}
