.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 8px;
  background-color: rgba(255, 255, 255);
}

.logo {
  height: 32px;
}

@media only screen and (max-width: 600px) {
  .logo {
    max-height: 25px;
  }
}
